VITE_SUPABASE_URL=
VITE_SUPABASE_ANON_KEY=

# Wompi - Obtén estas llaves en comercios.wompi.co
# Para pruebas usa las llaves que empiezan con pub_test_ y test_integrity_
# Para producción usa las que empiezan con pub_prod_ y prod_integrity_
VITE_WOMPI_PUBLIC_KEY=
VITE_WOMPI_INTEGRITY_SECRET=
